.accordion
	border-bottom: 1px solid $color('gray', 'light')
	width: 100%

	.add-container
		width: 100%

	&.border
		&:last-child
			border-bottom: 1px solid $color('gray', 'light')

	h2
		color: $color('blue')
		cursor: pointer
		font-size: 16px
		font-weight: normal
		padding: 0 10px

	&:last-child
		border-bottom: 0

	i
		float: right

		&.plus
			margin: -33px 10px 0 0

	.portfolio
		margin: 20px 0 20px 10px

	span
		display: inline-block
		font-size: 13px
		margin-top: 7px
