.breadcrumb
	border-bottom: 1px solid $color('gray', 'pale')
	font-size: 12px
	padding-bottom: 10px

	a
		color: $color('gray', 'pale')
		text-decoration: none

		&:hover
			color: $color('blue', 'medium')

	.selected
		color: $color('blue', 'medium')
		text-decoration: underline

h1
	color: $color('blue')
	display: block
	font: 16px 'Stag Sans Light'
	font-weight: normal
	margin: 20px 0
