input[type='checkbox']
input[type='radio']
	display: none

label
	&.checkbox
	&.radio
		cursor: pointer

	&.txt
		display: initial
		margin: 0 10px 0 5px

input[type='checkbox'] + label
	background: url('../assets/icons/checkbox.png') no-repeat -5px -5px
	display: inline-block
	height: 18px
	margin: 0
	padding: 0
	vertical-align: middle
	width: 18px

input[type='checkbox']:checked + label
	background: url('../assets/icons/checkbox.png') no-repeat -33px -5px

input[type='radio'] + label
	background: url('../assets/icons/radio.png') no-repeat -5px -5px
	display: inline-block
	height: 16px
	margin: 0
	padding: 0
	vertical-align: middle
	width: 16px

input[type='radio']:checked + label
	background: url('../assets/icons/radio.png') no-repeat -30px -5px

input[type='checkbox']:disabled + label
	background-color: $color('gray', 'whiteGray')
	background-image: none
	border: 1px solid $color('gray', 'light')
	border-radius: 5px
	cursor: default

// Colores
input[type='checkbox'].coupons + label
	background-color: $color('blue', 'pale')
	background-image: none
	border-radius: 3px

input[type='checkbox']:checked.coupons + label
	background: $color('blue', 'pale') url('../assets/icons/check.png') no-repeat 5px 5px

input[type='checkbox'].rendimientos + label
	background-color: $color('blue','medium')
	background-image: none
	border-radius: 3px

input[type='checkbox']:checked.rendimientos + label
	background: $color('blue','medium') url('../assets/icons/check.png') no-repeat 5px 5px

input[type='checkbox'].valmer + label
	background-color: $color('green')
	background-image: none
	border-radius: 3px

input[type='checkbox']:checked.valmer + label
	background: $color('green') url('../assets/icons/check.png') no-repeat 5px 5px

input[type='checkbox'].precio + label
	background-color: $color('blue','dark')
	background-image: none
	border-radius: 3px

input[type='checkbox']:checked.precio + label
	background: $color('blue', 'dark') url('../assets/icons/check.png') no-repeat 5px 5px

input[type='checkbox'].activo + label
	background-color: #FDBD2C
	background-image: none
	border-radius: 3px

input[type='checkbox']:checked.activo + label
	background: #FDBD2C url('../assets/icons/check.png') no-repeat 5px 5px
