.dots-container
	margin: 3px
	text-align: center

	ul.dots
		cursor: default
		display: inline-block
		list-style: none
		margin: 0
		padding: 0
		position: relative

		li
			background: $color('gray', 'whiteSmoke')
			border-radius: 50%
			cursor: pointer
			display: block
			float: left
			height: 8px
			margin: 0 5px
			position: relative
			text-indent: -999em
			transition: background 0.3s
			width: 8px

			&.current
				background: $color('blue', 'medium')
