.filters-accordeon
	border: 1px solid $color('gray', 'whiteSmoke')
	border-radius: 5px
	padding-top: 15px
	position: relative
	width: 100%

	.close
		position: absolute
		right: 8px
		top: 10px

	.erase
		color: $color('gray', 'pale')
		font-size: 14px
		margin: 10px 0 20px 10px

		&:hover
			color: $color('gray')
			cursor: pointer
			text-decoration: underline

	span
		&.back
			background: url(/assets/icons/back.png) no-repeat 5%
			color: $color('blue')
			cursor: pointer
			font-size: 16px
			padding-left: 25px

	.title
		color: $color('blue')
		font-size: 18px
		margin-left: 10px
