i
	cursor: pointer
	display: inline-block

	&.add
		$icon('add', 15px, 15px)

	&.add-date
		$icon('add-date')

	&.amortizations
		$icon('amortizations')

	&.analytics
		$icon('analytics')

	&.calendar
		$icon('calendar', 22px, 22px)
		background-position: -5px -5px
		background-size: initial
		margin-top: 5px

		&.off
			background-position: -37px -5px
			cursor: default
			margin-top: 3px

	&.calculate
		$icon('calculate')

	&.cancel
		$icon('cancel')

	&.clip
		$icon('clip', 12px, 24px)

	&.clip-nja
		$icon('clip-nja')

	&.close
		$icon('close', 20px, 20px)

	&.configuration
		$icon('configuration', 20px, 20px)
		margin: 0

	&.complex
		&.alta
			$icon('complex-alta')
		&.baja
			$icon('complex-baja')
		&.media
			$icon('complex-media')
		&.mbaja
			$icon('complex-mbaja')

	&.copy
		$icon('copy', 20px, 20px)

	&.default
		cursor: default

	&.delete
		$icon('delete')
		background-position: -5px -5px
		background-size: initial

		&.red
			background-position: -70px -5px

		&.off
			background-position: -40px -5px
			cursor: default

	&.docs
		$icon('docs')

	&.download-blotter
		$icon('download-blotter')

	&.edit
		$icon('edit')

	&.edit-bco
		$icon('edit-bco')

	&.error
		$icon('error', 23px, 23px)

	&.excel
		$icon('excel', 22px, 23px)
		background-size: 22px 23px

	&.export-pdf
		$icon('export-pdf', 22px, 23px)

	&.filter
		$icon('filter', 20px, 22px)
		background-position: -5px -5px
		background-size: initial

		&.on
			background-position: -35px -5px

	&.i
		$icon('i', 10px, 10px)
		float: right
		margin: -18px 6px 0 0

	&.info
		$icon('info', 30px, 30px)
		cursor: default

	&.liquidity
		$icon('liquidity')
		cursor: default

	&.pay-off
		$icon('pay-off')

	&.pdf
		$icon('pdf', 30px, 30px)
		background-size: 30px 30px

	&.performance
		$icon('performance', 12px, 12px)
		background-position: -5px -5px
		background-size: initial
		margin-right: 3px

		&.down
			background-position: -27px -5px
			cursor: default
			margin-top: 3px

	&.plus
		$icon('drop-table', 18px, 18px)
		background-position: -5px -5px
		background-size: initial

		&.less
			background-position: -35px -5px

	&.position
		$icon('position', 20px, 20px)
		background-position: -35px -5px
		background-size: initial

		&.selected
			background-position: -5px -5px

	&.preview
		$icon('preview')

	&.print
		$icon('print', 27px, 22px)

	&.range
		$icon('range')

	&.replace-cal
		$icon('replace-cal')

	&.search
		$icon('search', 20px, 20px)
		cursor: default

	&.select
		$icon('select', 12px, 9px)
		margin-left: 6px

		&.up
			$icon('select-up', 12px, 8px)

	&.show-columns
		$icon('show-columns', 10px, 10px)
		background-position: -5px -5px
		background-size: initial

		&.hide
			background-position: -25px -5px

	&.status
		$icon('status')

	&.traffic-light
		$icon('traffic-light', 20px, 20px)
		background-position: -35px -5px
		background-size: initial

		&.off
			background-position: -65px -5px
			cursor: default

		&.on
			background-position: -5px -5px
			cursor: default

	&.traffic-loading
		background: $color('green') url('/assets/icons/reload.png') no-repeat center center
		border-radius: 50%
		height: 20px
		width: 20px

	&.volatility
		$icon('volatility')
		cursor: default

	&.views
		$icon('views', 20px, 16px)
		background-position: -5px -5px
		background-size: initial

		&.list
			background-position: -35px -5px

	&.views-graphics
		&.simple
			$icon('views-graphics', 25px, 25px)
			background-position: -5px -40px
			background-size: initial

			&:hover
			&.on
				background-position: -5px -5px

		&.double
			$icon('views-graphics', 25px, 25px)
			background-position: -40px -40px
			background-size: initial

			&:hover
			&.on
				background-position: -40px -5px

		&.mosaic
			$icon('views-graphics', 25px, 25px)
			background-position: -75px -40px
			background-size: initial

			&:hover
			&.on
				background-position: -75px -5px

	&.visibility
		visibility: hidden

	&.void
		$icon('void', 15px, 15px)

	&.void-gray
		$icon('void_gray', 15px, 15px)
		background-position: -5px -5px
		background-size: initial
		float: left
		margin-right: 5px

		&.gray
			background-position: -30px -5px

	&.xml
		$icon('xml', 30px, 30px)
		background-size: 30px 30px

	&.warning
		$icon('warning', 30px, 30px)
