.controls
	margin: 25px 0 15px

	.tab
		cursor: pointer
		float: left

	span
		display: block
		font-size: 14px
		text-align: center

		&.active
			color: $color('blue')

	.step
		background-color: $color('gray', 'light')
		height: 5px
		margin-top: 5px

		&.active
			background-color: $color('blue')
