@import 'main'

.modal
	height: 100%
	left: 0
	position: fixed
	top: 0
	width: 100%
	z-index: 1000

.modal-box
	background: $color('white')
	border: 1px solid $color('gray', 'light')
	border-radius: 5px
	box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12)
	left: 50%
	padding: 30px
	position: absolute
	top: 50%
	z-index: 1

	.btn-alert
			bottom: 30px
			left: 50%
			margin-left: -50px
			position: absolute

	.close
		position: absolute
		right: 10px
		top: 10px

	h1
		color: $color('blue', 'medium')
		display: block
		font: 20px 'Arial', sans-serif
		font-weight: 100
		margin: 0

		&.success
			color: $color('green')
			text-align: center

	label
		color: $color('gray')
		display: inline-block
		font-size: 12px
		margin-bottom: 5px

	.message
		font-size: 14px

	.prompt
		color: $color('blue', 'dark')
		font-size: 18px
		font-weight: 100
		margin-top: -15px

	.title
		color: $color('blue')
		font-weight: bold
		margin: 15px 0 10px

	.tit-alert
		margin-top: 20px

	// Sizes
	&.large
		height: 600px
		margin-left: -425px
		margin-top: -300px
		width: 850px

		.scroll
			overflow-y: auto

			&.modal-large
				height: 480px

			&.views
				height: 390px

	&.large-large
		height: 600px
		margin-left: -340px
		margin-top: -300px
		width: 680px

	&.large-medium
		height: 500px
		margin-left: -350px
		margin-top: -250px
		width: 700px

	&.medium
		height: 406px
		margin-left: -300px
		margin-top: -203px
		width: 600px

	&.medium-large
		font-size: 14px
		height: 600px
		margin-left: -250px
		margin-top: -300px
		width: 500px

		.scroll
			margin-top: 20px
			overflow-y: auto

			&.modal-large
				height: 480px

		img
			height: 50px
			margin-top: 10px
			vertical-align: middle
			width: 50px

		span
			display: inline-block
			margin-top: 25px

	&.medium-small
		height: 450px
		margin-left: -325px
		margin-top: -225px
		width: 650px

	&.medium-small-tiny
		height: 325px
		margin-left: -325px
		margin-top: -225px
		width: 700px

	&.small
		height: 250px
		margin-left: -300px
		margin-top: -125px
		width: 600px

	&.small-big
		height: 404px
		margin-left: -300px
		margin-top: -180px
		width: 600px

	&.small-medium
		height: 280px
		margin-left: -300px
		margin-top: -125px
		width: 600px

.overlay
	background-color: rgba(0, 0, 0, 0.5);
	cursor: pointer
	height: 100%
	position: absolute
	width: 100%

	&.cursor
		cursor: default
