@import 'main'

.supBar
  background-color $color('white')
  height 90px
  position sticky
  margin-top 20px

  .barTitle
    font-size 15px
    font-weight bold
  .countdown
  .txtCount
    word-spacing 4px
    font-weight 500
    font-size 18px
  .txtHour
    word-spacing 24px
  .txtCenter
    text-align center
  .fullWidth
    width 100% !important
  .br-gray
    border-right 1px solid #d8d8d8
  .txtGray
    color: $color('gray', 'pale')
  .txt11
    color: $color('gray', 'pale')
  .dBlock
    display block
  .iconPos
    position inherit
  .txtIcon a
    color #009ee5
    cursor pointer
    font-size 11px
  .floatR
    float right
  .h65
    height 65px
  .fixedBar
    position fixed
    top 0px
    z-index 999
    width 1271px
    background-color white
    height 90px
    margin-top 0px
    padding 10px
    box-shadow 0px 1px 10px 0px
    border-bottom 5px solid #006ec1
  span
    &.down
      color: $color('magenta')
    &.up
      color: $color('green')

  .col-1fix
    width: 4.333%
  .overflowH
    overflow hidden
  .coupnum
    color $color('blue', 'medium')
    float right
  .grayBackg
    background-color $color('gray', 'light')
    &:hover
      background-color $color('gray', 'light')
