<header ng-if="global.session"><img class="logo" alt="BBVA Bancomer" src="assets/img/logo.gif">
  <div class="corporate"><span>CORPORATE &</span><span>INVESTMENT BANKING</span></div>
  <div class="info-container">
    <div class="info"><span class="user">Dol sit amet | Lorem Ipsum</span>
      <button class="btn-delete" ng-click="global.logout()">Salir</button><span class="title">Sistema de Notas Estructuradas y Warrants</span><span class="date"></span>
    </div>
  </div>
</header>

<nav menu ng-show="global.session &amp;&amp; global.session_banker">
  <li><a class="home"></a></li>
  <li><a class="briefcase">Portafolios de Inversi&oacute;n</a>
    <ul>
      <div class="title">Inversi&oacute;n</div>
      <li><a nav="#!/portafolios-inversion">Portafolios de inversi&oacute;n</a></li>
    </ul>
  </li>
  <li><a class="briefcase">Comercializaci&oacute;n</a></li>
  <li><a class="briefcase">Venta Digital</a></li>
</nav>



<mat-sidenav-container>

  <mat-sidenav #sidenav mode="push">
    <div class="branding"><img [src]="logo"/> <span>NEW</span></div>
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of navigationSideMenu" (click)="sidenav.close()"
         [routerLink]="[item.link]" routerLinkActive="active">
        {{item.label}}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <div class="wrapper">

    <div class="toolbar">
      <mat-toolbar color="primary">
        <button mat-icon-button class="d-md-none" (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>
        </button>

        <span routerLink="" class="branding spacer d-inline d-sm-none text-center"><img
          [src]="logo"/>NEW</span>
        <span routerLink="" class="branding spacer d-none d-sm-inline d-md-none text-center"><img
          [src]="logo"/> NEW </span>
        <span routerLink="" class="branding spacer d-none d-md-inline"><img
          [src]="logo"/> NEW </span>

        <span class="d-none d-md-inline">
          <button mat-button class="nav-button" *ngFor="let item of navigation"
              [routerLink]="[item.link]" routerLinkActive="active">
            {{item.label}}
          </button>
        </span>

        <button mat-button class="sign-in-button "
                *ngIf="!isAuthenticated"
                (click)="onLoginClick()">
          Sign in
        </button>

        <button *ngIf="isAuthenticated"
                mat-icon-button
                [matMenuTriggerFor]="toolbarUserMenu">
          <mat-icon>person</mat-icon>
        </button>
        <mat-menu #toolbarUserMenu="matMenu">
          <button mat-menu-item (click)="onLogoutClick()">
            <mat-icon>power_settings_new</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>

        <button mat-icon-button routerLink="settings" class="d-none d-sm-inline">
          <mat-icon>settings</mat-icon>
        </button>

      </mat-toolbar>
    </div>


  </div>

</mat-sidenav-container>

<div class="content" [@routerTransition]="o.isActivated && o.activatedRoute.routeConfig.path">
  <router-outlet #o="outlet"></router-outlet>
</div>
