@import 'main'

.box-full
  float left
  margin-left 5px
  margin-right 10px
  width 100%
  .box-full-title
    color $color('gray')
    font-weight bold
    text-align left
  .box-full-container
    float left
    margin-right 5px
    height 50px
    width 140px

    .box-full-icon
      float left
      width 70px
    .box-full-label
      font-size 10px
      float left
      text-align center
      width 70px
  p
    line-height 20px
    text-align left
