.box-programs
	border: 1px solid $color('blue', 'medium')
	border-radius: 10px
	float: left
	font-family: 'Stag Sans Light'
	height: 210px
	margin: 0 20px 20px 0
	width: 298px

	&.inactive
		border-color: $color('gray', 'pale') !important

		.title-program
			background-color: $color('gray', 'pale') !important

		.result
			color: $color('gray', 'pale') !important

	.content-add
		color: $color('blue', 'medium')
		padding: 20px 50px
		text-align: center

		pre
			display: inline-block
			font: 20px 'Stag Sans Light'
			margin-bottom: 30px

	.content-program
		font-size: 13px
		padding: 20px 15px 0

		span
			display: block

			&.result
				font-size: 22px
				margin: 5px 0 15px

	.title-program
		border-radius: 6px 6px 0 0
		color: $color('white')
		font-family: 'Stag Sans Book'
		height: 75px
		padding: 15px
		position: relative
		text-align: center

		.edit-bco
			position: absolute
			right: 15px
			top: 10px

		span
			display: block
			font-size: 17px

			&:first-child
				margin-bottom: 10px
				text-align: left

			.code
				display: inline-block
				font-size: 11px
