<div class="container">
  <div class="row">
    <div class="col-sm-12"><h1>Registro y edici&oacute;n de programas</h1></div>


    <div class="box-programs" [ngClass]="animateOnRouteEnter">
      <div class="content-add">
        <pre>Registrar nuevo programa</pre>
        <button class="btn-add" (click)="main.registerModal.meta = main.modalMeta.create; main.request = global.copy(main.newProgram); main.registerModal.open();">+</button>
      </div>
    </div>
    <div class="box-programs" [ngClass]="animateOnRouteEnter" [ngStyle]="{'inactive': program.stActivo === false}" *ngFor="let program of programs" [ngStyle]="{'font-style': styleExp}">
      <div class="title-program" [ngStyle]="{'background-color': program.nbColor}"><span>{{ program.nbVehiculo }}</span><span *ngIf="program.ctMontoAutorizado !== null">{{ program.ctMontoAutorizado  | currency:undefined:0 }}
          <div class="code">{{ program.cdMoneda.txCatalogo }}</div></span><i class="edit-bco" (click)="main.registerModal.meta = main.modalMeta.edit; main.request = global.copy(program); main.registerModal.open();"></i>
      </div>
      <div class="content-program"><span *ngIf="program.ctEmsnAutorizada">Número autorizado</span><span class="result" *ngIf="program.ctEmsnAutorizada" [ngStyle]="{'color': program.nbColor}">{{ program.ctEmsnAutorizada }}</span><span *ngIf="program.dtFinColocacion &amp;&amp; program.ctEmsnAutorizada === null">Vencimiento de colocaci&oacute;n</span><span class="result" *ngIf="program.dtFinColocacion &amp;&amp; program.ctEmsnAutorizada === null" [ngStyle]="{'color': program.nbColor}">{{ program.dtFinColocacion | date:"dd/MM/yyyy" }}</span><span>Vencimiento del acta</span><span class="result" [ngStyle]="{'color': program.nbColor}">{{ program.dtVencimiento | date:"dd/MM/yyyy" }}</span></div>
    </div>

  </div>
</div>


