<div class="breadcrumb">
  <a routerLink="/about">
    <span routerLinkActive="selected" class="selected">Portafolios de inversión</span>
  </a>
</div>
<br>
<div class="row">
  <div class="col-12">
    <ul class="tabs portfolio">
      <li (click)="activeTab = 'banquero'; tabCode = 'B000'; bankersPortfolio();" [ngClass]="{current: activeTab === 'banquero'}">
        <span>Mi Portafolio</span>
        <!--<i class="plus mosaic"></i>-->
      </li>
      <li (click)="activeTab = 'default'; tabCode = '0000'; RecentClosures();" [ngClass]="{current: activeTab === 'default'}">
        <span>Cierres recientes</span>
        <!--<i class="plus mosaic"></i>-->
      </li>
      <li class="last" *ngIf="banquero" style="width:calc(100% - (165 * 2px))"></li>
    </ul>

    <ng-template [ngIf]="activeTab === 'banquero'">
      <div class="content-tab">
        <div class="row">
          <div class="col-9">

            <div class="row">
              <div class="col-3 ml-15">
                <h1>Listado de emisiones</h1>
              </div>
              <div class="col-7 align-right">
                <label>Cliente/Contrato</label>
              </div>
              <div class="col-2 align-right pr-0 m-12">
                <new-dropdown [options]="contracts" [label]="Contratos" (onUpdate)="foo"></new-dropdown>
              </div>
            </div>

            <div class="row">
              <div class="col-8 align-left pr-0">
                <ul class="nav-subjacents">
                  <li [ngClass]="{activeTab: subyacenteTab === 'TODO'}" (click)="subyacente = null;">TODO</li>
                  <li *ngFor="let subjacent of subjacents | async; let i = index" (click)="subyacenteFilter = {subyacente: subjacent}; subyacente = subjacent; subyacenteTab = i;"
                    [ngClass]="{activeTab: subyacenteTab === i}">{{subjacent.name}}</li>
                </ul>
              </div>
              <div class="col-4 align-right pr-0 mr-10">

                <i class="filter mb-10 mr-10 on" *ngIf="listed || boxesgrid > 20" [ngClass]="{on: filterPortfolio}"
                  (click)="filterPortfolio = !filterPortfolio;"></i>

                <i class="views" [ngClass]="{list: listed}" (click)="listed = !listed" *ngIf="boxesgrid <= 20"></i>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="suggesting">
                  <span class="title">Semáforo de sugerencias</span>
                  <div class="lights">
                    <div class="col-2 mb-10">
                      <div class="round"></div>
                      <span></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 pr-0" *ngIf="!listed && boxesgrid <= 20">
                <new-portafolios-mosaic [boxes]="boxes"></new-portafolios-mosaic>
              </div>
              <div class="col-12" *ngIf="listed || boxesgrid > 20">

              </div>
            </div>

          </div>
          <div class="col-3">
            <new-lateral></new-lateral>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template [ngIf]="activeTab === 'default'">
      <div class="content-tab">
        <div class="row">
          <div class="col-9">

            <div class="row">
              <div class="col-3 ml-15">
                <h1>Listado de emisiones</h1>
              </div>
            </div>

            <div class="row">
              <div class="col-8 align-left pr-0">
                <ul class="nav-subjacents">
                  <li [ngClass]="{activeTab: subyacenteTab === 'TODO'}" (click)="subyacente = null;">TODO</li>
                  <li *ngFor="let subjacent of subjacents | async; let i = index" (click)="subyacenteFilter = {subyacente: subjacent}; subyacente = subjacent; subyacenteTab = i;"
                    [ngClass]="{activeTab: subyacenteTab === i}">{{subjacent.name}}</li>
                </ul>
              </div>
              <div class="col-4 align-right pr-0 mr-10">
                <!--
                <i class="filter mb-10 mr-10 on" *ngIf="listed || boxesgrid > 20" [ngClass]="{on: filterPortfolio}"
                  (click)="filterPortfolio = !filterPortfolio;"></i>
                -->
                <i class="views" [ngClass]="{list: listed}" (click)="listed = !listed" *ngIf="boxesgrid <= 20"></i>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="suggesting">
                  <span class="title">Semáforo de sugerencias</span>
                  <div class="lights">
                    <div class="col-2 mb-10">
                      <div class="round"></div>
                      <span></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 pr-0" *ngIf="!listed && boxesgrid <= 20">
                <new-portafolios-mosaic [boxes]="boxes"></new-portafolios-mosaic>
              </div>
              <div class="col-12" *ngIf="listed || boxesgrid > 20">

              </div>
            </div>

          </div>
          <div class="col-3">
            <!--<new-lateral></new-lateral>-->
          </div>
        </div>
      </div>
    </ng-template>

  </div>
</div>
