@font-face
	font-family: 'Stag Sans Book'
	src: url(../assets/fonts/StagSans-Book.otf)

@font-face
	font-family: 'Stag Sans Light'
	src: url(../assets/fonts/StagSans-Light.otf)

@font-face
	font-family: 'Stag Sans Medium'
	src: url(../assets/fonts/StagSans-Medium.otf)
